@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e8c9;
    /* Pastel yellow */
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    /* White */
}

h1 {
    text-align: center;
    color: #000;
    /* Dark purple */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #000;
    /* Dark purple */
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #388e3c;
    /* Dark green */
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #2e7d32;
    /* Dark green on hover */
}

#attendanceSection {
    margin-top: 30px;
}

#attendanceSection h2 {
    text-align: center;
    color: #000;
    /* Dark purple */
    margin-bottom: 10px;
}

.attendance-entry {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e1bee7;
    /* Light purple */
}

.attendance-entry h3 {
    margin: 0;
    color: #000;
    /* Dark purple */
}

.attendance-entry p {
    color: #388e3c;
    /* Dark green */
    margin: 5px 0;
}

.attendance-entry p:last-child {
    font-weight: bold;
}