

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3e5f5;
    /* Pastel purple */
}

header {
    background-color: #512da8;
    /* Dark purple */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f4c3;
    /* Light pastel purple */
}

h2 {
    color: #512da8;
    /* Dark purple */
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #512da8;
    /* Dark purple */
}

form input[type="text"],
form input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #512da8;
    /* Dark green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #644a9e;
    /* Dark green on hover */
}

#ticketList {
    margin-top: 20px;
}

.ticket-entry {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e1bee7;
    /* Light pastel purple */
}

.ticket-entry h3 {
    margin: 0;
    color: #512da8;
    /* Dark purple */
}

.ticket-entry p {
    color: #512da8;
    /* Dark green */
    margin: 5px 0;
}

.ticket-entry p:last-child {
    font-weight: bold;
}